# Telegram
BOT_TOKEN=...

# Postgres
DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres

# GigaChat OAuth
GIGACHAT_AUTH_KEY=  # Authorization key
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_VERIFY_SSL=false
GIGACHAT_MODEL=GigaChat-Pro